* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: whitesmoke !important;
}

html {
  height: 100% !important;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

::-ms-reveal {
  display: none
}